@model IEnumerable<GunBak.Models.RSSHaber>
@{
    ViewBag.Title = "Ara";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using GunBak.Models;
@{
    gundembakEntities db = new gundembakEntities();
    var reklam = db.reklams.Where(r => r.id == 1).Select(r => r.yanreklam).FirstOrDefault();
}
@foreach (var item in Model)
{
    <div class="single-top">

        <img src="@item.Media" class="img-responsive" alt="">



        <p class="sin">
            <h2><a href="@item.Link">@item.Title</a></h2>
        </p>
        @*<p class="sin">
                Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamco elitider
                per nulla non metus auctor fringilla. Donec id elit non mi porta gravi da at eget metus. Fusce dap gravi
                ibus, tellus ac  cursus commodo, Nulla vitae elit libero, a torto ediri
                pharetra augue. Donec ullamco per nulla non metus auctor fringilla.
            </p>*@
        <div class="artical-links">
            <ul>
                <li><small> </small><span>@item.PubDate</span></li>
                <li><a href="#"><small class="admin"> </small><span>admin</span></a></li>
                <li><a href="#"><small class="no"> </small><span>No comments</span></a></li>
                <li><a href="#"><small class="posts"> </small><span>View posts</span></a></li>
                <li><a href="#"><small class="link"> </small><span>permalink</span></a></li>
            </ul>
        </div>

    </div>

}
<h3>Reklam</h3>
@Html.Raw(HttpUtility.HtmlDecode(reklam))



